$primary: #ea4c88;
$secondary: #4162A6;
$textColor: #F0F2F2;
$inputColor: #606468;
$bodyColor: #2c3338;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(to bottom left, #FC5C7D, #6A82FB);
}

.form-signin {
  width: 50%;
  /* max-width: 330px; */
  padding: 2rem 4rem;
  margin: auto;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.5);
}

// .form-signin .checkbox {
//   font-weight: 400;
// }

#main_title {
  color: #F0F2F2;
}

#form_input {
  margin-bottom: 20px;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  // margin-bottom: -1px;
  border: none;
  outline: none;
  border-radius: 5px;
  // border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin: 10px 0px;
  // border-top-left-radius: 0;
  // border-top-right-radius: 0;
  border: none;
  outline: none;
  border-radius: 5px;
}

#btn {
  background: #ea4c88;
  color: #F0F2F2;
  margin-bottom: 10px;
}

#signup_btn {
  background: #6A82FB;
  // color: white;
}

#signup_btn a {
  text-decoration: none;
  color: white;
}

