.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  list-style: none;
}

.side_items {
  list-style: none;
}

.side_items a {
  text-decoration: none;
  color: black;
}

.side_items a span {
  display: none;
}