<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <h1>Join my website!</h1>
  <form action="/auth/register" method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="text" name="password"><br>
    NickName: <input type="text" name="displayName"><br>
    Email: <input type="text" name="email"><br>
    <button type="submit">Sign up</button>
  </form> -->
  <h1>Join my website!</h1>
  <form action="/auth/register" method="post">
    ID: <input type="text" name="username"><br>
    Password: <input type="text" name="password"><br>
    DisplayName: <input type="text" name="displayName"><br>
    <button type="submit">Sign up</button>
  </form>
</body>
</html>