<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <h1>Join my website!</h1>
  <form action="/auth/register" method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="text" name="password"><br>
    NickName: <input type="text" name="displayName"><br>
    Email: <input type="text" name="email"><br>
    <button type="submit">Sign up</button>
  </form> -->
  <!-- <h1>Join my website!</h1>
  <form action="/auth/register" method="post">
    ID: <input type="text" name="username"><br>
    Password: <input type="text" name="password"><br>
    DisplayName: <input type="text" name="displayName"><br>
    <button type="submit">Sign up</button>
  </form> -->

  <main class="form-signin">
    <form action="/signup" method="POST">
      <h1 class="h3 mb-3 fw-normal" id="main_title">Sign up</h1>
  
      <div class="form-floating" id="form_input">
        <input type="text" class="form-control" id="id" name="id" placeholder="ID">
        <label for="floatingInput">User ID</label>
      </div>
  
      <div class="form-floating" id="form_input">
        <input type="email" class="form-control" id="email" name="email" placeholder="email">
        <label for="floatingPassword">Email</label>
      </div>

      <div class="form-floating" id="form_input">
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname">
        <label for="floatingPassword">Nickname</label>
      </div>
  
      <div class="form-floating" id="form_input">
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-floating" id="form_input">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
        <label for="floatingPassword">Confirm Password</label>
      </div>
      
      <button class="w-100 btn btn-lg" id="btn" type="submit">Sign Up</button>
    </form>
  </main>
</body>
</html>