<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatting | signup</title>
</head>
<body>
  <h1>Join my website!</h1>
  <form action="/signup" method="POST">
    ID: <input type="text" name="id"><br>
    Email: <input type="email" name="email"><br>
    Password: <input type="password" name="password1"><br>
    Confirm Password: <input type="password" name="Password2">
    <button type="submit">Sign up</button>
  </form>
</body>
</html>