<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/landing/style.css">
  <link rel="stylesheet" href="./css/landing/header.css">
</head>
<body>
  <section class="container" id="first">
    <div class="content">
      <div class="titleBox">
        <h1 class="main_title"><span>W</span>hatever</h1>
        <p class="sub_title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi sequi natus sed nulla quas ipsam porro eligendi numquam, ratione, ad harum deserunt? Quas repellendus iste optio similique perferendis alias.</p>

        <button class="register">
          <a href="/auth/register">Sign Up</a>
        </button>

        <button class="login">
          <a href="/auth/login">Login</a>
        </button>
      </div>

      <div class="imgBox" id="whatever"></div>
    </div>
  </section>

  <section class="container" id="second">
    <div class="content">
      <div class="imgBox" id="anywhere">
        <!-- <img src="./images/landing/Anywhere.png"> -->
      </div>
      <div class="titleBox">
        <h1 class="main_title"><span>A</span>nywhere</h1>
        <p class="sub_title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi sequi natus sed nulla quas ipsam porro eligendi numquam, ratione, ad harum deserunt? Quas repellendus iste optio similique perferendis alias.</p>

        <button class="register">
          <a href="/auth/register">Sign Up</a>
        </button>
        <button class="login">
          <a href="/auth/login">Login</a>
        </button>
      </div>
    </div>
    

  </section>

  <section class="container" id="third">
    <div class="content">
      <div class="titleBox">
        <h1 class="main_title"><span>A</span>nytime</h1>
        <p class="sub_title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi sequi natus sed nulla quas ipsam porro eligendi numquam, ratione, ad harum deserunt? Quas repellendus iste optio similique perferendis alias.</p>

        <button class="register">
          <a href="/auth/register">Sign Up</a>
        </button>
        <button class="login">
          <a href="/auth/login">Login</a>
        </button>
      </div>

      <div class="imgBox" id="anytime">
        <!-- <img src="./images/landing/Anytime.png"> -->
      </div>
    </div>
  </section>
</body>
</html>