<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatting</title>

  <!-- bootstrap -->
  
  <!-- fontawesome / icon -->
  <link 
    rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
    crossorigin="anonymous"
  />

  <!-- animate-css -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

  <!-- css -->
  <link rel="stylesheet" href="./css/main/cal_calendar.css">
  <link rel="stylesheet" href="./css/main/calendar.css">
  <link rel="stylesheet" href="./css/main/chat.css">
  <link rel="stylesheet" href="./css/main/header.css">
  <link rel="stylesheet" href="./css/main/home.css">
  <link rel="stylesheet" href="./css/main/main_style.css">
  <link rel="stylesheet" href="./css/main/sidebar.css">

  <!-- js -->
  <script src="./js/main/cal_calendar.js" defer></script>
  <script src="./js/main/calendar.js" defer></script>
  <script src="./js/main/chat.js" defer></script>
  <script src="./js/main/clock.js" defer></script>  
  <script src="./js/main/sidebar.js" defer></script>
  <script src="./js/main/tab.js" defer></script>
  <script src="./js/main/weather.js" defer></script>
</head>
<body>
  <div id="root">
    <!-- sidebar -->
    <div class="sidebar" id="sidebar">
      <div class="logo_content">
        <div class="logo">
          <!-- <div class="logo_name">로고 이름</div> -->
        </div>
      </div>

      <ul class="nav_list" id="nav_list">
        <li class="tablinks side_items">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Search..." class="search">
          <span class="tooltip">Search</span>
        </li>

        <li class="tablinks side_items" onclick="openItem(event, 'Home')" id="defaultOpen">
          <a href="#">
            <i class="fas fa-home"></i>
            <span class="links_name">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>

        <li class="tablinks side_items" onclick="openItem(event, 'Chat')">
          <a href="#">
            <i class="fas fa-comments"></i>
            <span class="links_name">Chat</span>
          </a>
          <span class="tooltip">Chat</span>
        </li>

        <li class="tablinks side_items" onclick="openItem(event, 'Calendar')">
          <a href="#">
            <i class="far fa-calendar"></i>
            <span class="links_name">Calendar</span>
          </a>
          <span class="tooltip">Calendar</span>
        </li>
        
        <li class="tablinks side_items" onclick="openItem(event, 'List')">
          <a href="#">
            <i class="fas fa-clipboard-list"></i>
            <span class="links_name">Lists</span>
          </a>
          <span class="tooltip">List</span>
        </li>

        <!-- <li class="tablinks side_items" onclick="openItem(event, 'Additional')">
          <a href="#">
            <i class="fas fa-ellipsis-h"></i>
            <span class="links_name">Additional</span>
          </a>
          <span class="tooltip">Additional</span>
        </li> -->

        <li class="tablinks side_items">
          <a href="/auth/logout">
            <i class="fas fa-door-open"></i>
            <span class="links_name">Logout</span>
          </a>
          <span class="tooltip">logout</span>
        </li>
      </ul>
    </div>
    
    <div class="container" id="container">
      <!-- header -->
      <header id="header" class="header">
        <i class="fas fa-bars bars" id="bars"></i>

        <div class="content"></div>

        <ul id="menu">
          <li>
            <i class="far fa-bell"></i>
          </li>
          <li>
            <i class="fas fa-grip-horizontal"></i>
          </li>
          <li>
            <i class="fas fa-cog"></i>
          </li>
        </ul>
      </header>

      <!-- Main -->
      <div class="contents tabcontent back" id="Home">
        <div class="hello animate__animated animate__bounceInUp animate__fast" id="hello">
          <h1 class="bow">Hello~</h1>
          <h2 class="nickname"><%=displayName %></h2>
        </div>
        
        <div class="weather animate__animated animate__bounceInUp animate__delay-1s animate__faster	" id="weather">
          <div class="app-title">
            <p>Weather</p>
          </div>
          <div class="notification"></div>
          <div class="weather-container">
            <div class="weather-icon">
              <img src="../images/weather/unknown.png" alt="">
            </div>
      
            <div class="temperature-value">
              <p> - ° <span>C</span></p>
            </div>
            <div class="temperature-description">
              <p> - clouds </p>
            </div>
            <div class="location">
              <p> - seoul </p>
            </div>
          </div>
        </div>
        
        <div class="time animate__animated animate__bounceInUp animate__delay-1s animate__faster	" id="time">
          <h2 class="clock" id="clock">00:00:00</h2>
        </div>
        
        <div class="calendar animate__animated animate__bounceInUp animate__delay-1s animate__faster	">
          <div class="__calendar">
            <div class="month">
              <i class="fas fa-angle-left prev"></i>
              <div class="date">
                <h1></h1>
                <p></p>
              </div>
              <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays"> 
              <div>S</div>
              <div>M</div>
              <div>T</div>
              <div>W</div>
              <div>T</div>
              <div>F</div>
              <div>S</div>
            </div>
            <div class="days"></div>
          </div>
        </div>
        
        <div class="todo animate__animated animate__bounceInUp animate__delay-1s animate__faster	" id="todo">TodoList</div>
      </div>

      <div id="Chat" class="tabcontent back">
        <div class="user_list animate__animated animate__slideInLeft animate__faster">
          <ul class="users">
            <li class="user">
              <i class="fas fa-user"></i>
              <span class="user-nickname">범</span>
            </li>
            <li class="user">
              <i class="fas fa-user"></i>
              <span class="user-nickname">석석</span>
            </li>
            <li class="user">
              <i class="fas fa-user"></i>
              <span class="user-nickname">나나</span>
            </li>
          </ul>

          <h3 class="client-total" id="client-total">
            Total clients: 2
          </h3>
        </div>

        <div class="chat_main animate__animated animate__slideInRight animate__delay-1s animate__faster	">
          <div class="name">
            <span><i class="fas fa-user"></i></span>
            <p><%=displayName %></p>
          </div>

          <ul class="message-container" id="message-container"></ul>
          <form class="message-form" id="message-form">
            <input 
              type="text" 
              name="message" 
              id="message-input" 
              class="message-input" 
            />
            <div class="v-divider"></div>
            <button class="send-button">
              send <span><i class="fab fa-telegram-plane"></i></span>
            </button>
          </form>
        </div>
      </div>

      <div id="Calendar" class="tabcontent animate__animated animate__bounce">
        <div id="cal_container" class="">
          <div id="cal_header">
            <div id="monthDisplay"></div>
            <div>
              <button id="backButton">Back</button>
              <button id="nextButton">Next</button>
            </div>
          </div>
    
          <div id="cal_weekdays">
            <div>Sunday</div>
            <div>Monday</div>
            <div>Tuesday</div>
            <div>Wednesday</div>
            <div>Thursday</div>
            <div>Friday</div>
            <div>Saturday</div>
          </div>
    
          <div id="cal_calendar"></div>
        </div>
    
        <div id="newEventModal">
          <h2>New Event</h2>
    
          <input id="eventTitleInput" placeholder="Event Title" />
    
          <button id="saveButton">Save</button>
          <button id="cancelButton">Cancel</button>
        </div>
    
        <div id="deleteEventModal">
          <h2>Event</h2>
    
          <p id="eventText"></p>
    
          <button id="deleteButton">Delete</button>
          <button id="closeButton">Close</button>
        </div>
    
        <div id="modalBackDrop"></div>
      </div>
    <!-- footer -->
    <!-- <footer>Footer</footer> -->
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <!-- what is this cdn..? -->
  <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" 
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer">
  </script>
</body>
</html>