<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatting | signup</title>
  <link rel="stylesheet" href="./css/style.css">

  <!-- bootstrap -->
  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
    crossorigin="anonymous"
  />
</head>

<body class="text-center" id="body">
  <!-- <h1>Join my website!</h1>
  <form action="/signup" method="POST">
    ID: <input type="text" name="id"><br>
    Email: <input type="email" name="email"><br>
    Password: <input type="password" name="password1"><br>
    Confirm Password: <input type="password" name="Password2">
    <button type="submit">Sign up</button>
  </form> -->
  <main class="form-signin">
    <form action="/signup" method="POST">
      <h1 class="h3 mb-3 fw-normal" id="main_title">Sign up</h1>
  
      <div class="form-floating" id="form_input">
        <input type="text" class="form-control" id="id" name="id" placeholder="ID">
        <label for="floatingInput">User ID</label>
      </div>
  
      <div class="form-floating" id="form_input">
        <input type="email" class="form-control" id="email" name="email" placeholder="email">
        <label for="floatingPassword">Email</label>
      </div>

      <div class="form-floating" id="form_input">
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname">
        <label for="floatingPassword">Nickname</label>
      </div>
  
      <div class="form-floating" id="form_input">
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-floating" id="form_input">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
        <label for="floatingPassword">Confirm Password</label>
      </div>
      
      <button class="w-100 btn btn-lg" id="btn" type="submit">Sign Up</button>
    </form>
  </main>
  
</body>

</html>