* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#Chat {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-areas: "user_list chat_main";
  grid-gap: 10px;
  /* padding: 10px; */
}

.user_list {
  grid-area: "user_list";
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background: linear-gradient(to bottom left, #D3CCE3, #E9E4F0);
  border-radius: 20px;
  /* linear-gradient(to bottom left, #EDDFFC, #CE9FF2); */
}

.users {
  height: 100%;
    padding: 20px;
    width: 100%;
}

.user {
  padding: 20px;
  list-style: none;
  /* flex-wrap: wrap; */
  border: 1px solid white;
  margin-top: 10px;
  background: white;
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.client-total{  
  margin-top: 20px ;
  color: #7e7e7e;
}

.chat_main {
  grid-area: "chat_main";
  border: 8px solid #dddddd;
  border-radius: 24px;
  /* overflow: hidden; */
}

.name {
  display: flex;
    font-size: 32px;
    font-weight: 700;
    padding: 8px 16px;
    color: #7e7e7e;
    border-bottom-color: #ebebeb;
    justify-content: flex-end;
}

.name > span {
  color: #bbb;
}

.name-input {
  font-size: 24px;
  font-weight: 700;
  color: #7e7e7e;
  flex-grow: 1;
  border: none;
  margin: 0px 12px;
  outline: none;
  background-color: #ebebeb;
}

.message-container {
  display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 600px;
    /* overflow-x: hidden; */
    overflow-y: scroll;
    padding-left: 0;
    border-radius: 10px;
}

.message-left,
.message-right {
  list-style: none;
  padding: 8px 12px;
  margin: 12px;
  max-width: 250px;
  font-size: 18px;
  word-wrap: break-word;
}

.message-left {
  border-radius: 20px 20px 20px 0;
  align-self: flex-start;
  /* background-color: #A8C0ED; */
  background: linear-gradient(to right, #A770EF, #CF8BF3, #FDB99B);  
  box-shadow: -2px 2px 4px #dcdcdc;
  color: white;
  font-size: 1.3rem;
}

.message-right {
  border-radius: 20px 20px 0px 20px;
  align-self: flex-end;
  box-shadow: 2px 2px 4px #dcdcdc;
  background: linear-gradient(to left, #f4c4f3, #fc67fa);
  color: white;
  font-size: 1.3rem;

}

.message-left > p > span,
.message-right > p > span {
  display: block;
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
}

.feedback {
  font-style: italic;
  font-size: 14px;
  padding: 0px 16px 16px 16px;
  color: #2d2d2d;
  text-align: center;
}

.message-form {
  display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    /* background: #7e7e7e;*/
}

.message-input {
  flex-grow: 1;
  height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 12px;
  background-color: #fff;
}

.send-button {
  height: 48px;
  font-size: 16px;
  border: none;
  padding: 0px 20px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.v-divider {
  height: 48px;
  width: 2px;
  background-color: #f6f6f6;
}

