<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatting | login</title>
  <link rel="stylesheet" href="../../css/login/style.css">
</head>
<body>
  <!-- <h1 class="main_title">Login Page</h1> -->
  <form action="/login" method="POST" class="form">
    <!-- <label for="id">ID</label> -->
    <input type="text" name="id" placeholder="ID">
    <!-- <label for="password">Password</label> -->
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>
</body>
</html>