:root {
  /* color */
  /* 단순히 나눈 것을 구분하기 위해 색깔을 넣었습니다. */
  --header-color: #ffffff;
  --main-color: #F0F2F9;
  --sidebar-color: #11101d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#sidebar {
  background: var(--sidebar-color);
}

.header_main {
  position: absolute;
  top: 0;
  left: 78px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
}

#bars {
  padding: 30px;
  font-size: 20px;
}

/* .sidebar.active #bars {
  
} */

.sidebar.active ~ .header_main {
  width: calc(100% - 240px);
  left: 240px;
}

/* 미디어 쿼리 적용 */
@media (max-width: 767px){
	/* 모바일 */
  #sidebar {
    display: none;
  }

  .header_main {
    top: 0;
    left: 0;
    width: 100%;
  }

  #container.active #sidebar {
    z-index: 1;
    display: flex;
    top: 10%;
  }

  .sidebar.active ~ .header_main {
    width: 100%;
    left: 0;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  /* 테블릿 세로 */
  #sidebar {
    display: none;
  }

  .header_main {
    top: 0;
    left: 0;
    width: 100%;
  }

  #container.active #sidebar {
    z-index: 1;
    display: flex;
    top: 10%;
}

  .sidebar.active ~ .header_main {
    width: 100%;
    left: 0;
  }

  .nav_list {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* 테블릿 가로 */
  
}